<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd"
>
    <!--Transaction Manager-->
    <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <!--I want to use xml driven, so I comment it out-->
    <!--<tx:annotation-driven transaction-manager="txManager"/>-->
    
    <!--Transaction Advice-->
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <!-- sometimes we should clear due data when get*, so we can't read-only -->
            <!--<tx:method name="get*" read-only="true"/>-->
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="serviceOperation" expression="execution(public * robertli.zero.service..*.*(..))"/>
        <aop:pointcut id="daoOperation" expression="execution(public * robertli.zero.dao..*.*(..))"/>
        
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="daoOperation"/>
        
    </aop:config>
</beans>
