<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd"
>
        
    <!--Data Source-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}" />
        <property name="connectionProperties" value="useUnicode=yes;characterEncoding=utf8;" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="initialSize" value="3" />
        <property name="maxActive" value="10" />
        <property name="connectionInitSqls" value="set names utf8mb4;"/>
    </bean>

    <!--Session Factory-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan">
            <list>
                <value>robertli.zero.entity</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.connection.useUnicode">true</prop>
                <prop key="hibernate.connection.characterEncoding">UTF-8</prop>
                <prop key="hibernate.connection.charSet">UTF-8</prop>
                <!-- SQL dialect -->
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                
                <!--Enable Hibernate's automatic session context management  -->
                <prop key="current_session_context_class">thread</prop>
                
                <!-- Disable the second-level cache  -->
                <prop key="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</prop>
                
                <!-- Echo all executed SQL to stdout -->
                <prop key="hibernate.show_sql">false</prop>
                
                <!-- Drop and re-create the database schema on startup -->
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
            
        </property>
    </bean>
    
</beans>