<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">

    <!-- don't handle the static resource -->
    <mvc:default-servlet-handler />

    <!-- if you use annotation you must configure following setting -->
    <mvc:annotation-driven  />
     
    <mvc:interceptors>
        
        <mvc:interceptor>
            <mvc:mapping path="/api/v1/**"/>
            <mvc:exclude-mapping path="/login"/>
            <bean class="robertli.zero.interceptor.AuthInterceptor"></bean>
        </mvc:interceptor>
        
        <!--For Admin GET-->
        <mvc:interceptor>
            <mvc:mapping path="/api/v1/**"/>
            <mvc:exclude-mapping path="/api/v1/me/**"/>
            <mvc:exclude-mapping path="/api/v1/images/**"/>
            <mvc:exclude-mapping path="/api/v1/test/**"/>
            <mvc:exclude-mapping path="/api/v1/user-types/**"/>
            <mvc:exclude-mapping path="/api/v1/user-platforms/**"/>
            <bean class="robertli.zero.interceptor.AdminReadPermissionInterceptor"></bean>
        </mvc:interceptor>
        
        <!--For Admin POST PUT DELETE-->
        <mvc:interceptor>
            <mvc:mapping path="/api/v1/**"/>
            <mvc:exclude-mapping path="/api/v1/app/**"/>
            <mvc:exclude-mapping path="/api/v1/me/**"/>
            <mvc:exclude-mapping path="/api/v1/images/**"/>
            <mvc:exclude-mapping path="/api/v1/test/**"/>
            <bean class="robertli.zero.interceptor.AdminEditPermissionInterceptor"></bean>
        </mvc:interceptor>
        
    </mvc:interceptors>
        
    <!-- configure the InternalResourceViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/" />
        <property name="suffix" value=".jsp" />
    </bean>
    
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
        <property name="order" value="100"/>
    </bean>
    
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- max upload size in bytes -->
        <property name="maxUploadSize" value="20971520" /> <!-- 20MB -->

        <!-- max size of file in memory (in bytes) -->
        <property name="maxInMemorySize" value="1048576" /> <!-- 1MB -->

    </bean>
   
</beans>